<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850746334074-e8k2rhpomljk7bs081cnup47gampjr4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850746334074-e8k2rhpomljk7bs081cnup47gampjr4u</string>
	<key>API_KEY</key>
	<string>AIzaSyAsvb1CktMc-ir_weaOxaqqa2O5K9FWAog</string>
	<key>GCM_SENDER_ID</key>
	<string>850746334074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlcc.consumer.app</string>
	<key>PROJECT_ID</key>
	<string>vlcc-55fdf</string>
	<key>STORAGE_BUCKET</key>
	<string>vlcc-55fdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850746334074:ios:8bc26186bc67052b5914c3</string>
</dict>
</plist>